<!DOCTYPE html>
<html>
<head>
    <%- include('./layout/head', {title: title}); -%>
    <%- include('template/css', {list: cssList}); %>
</head>
<body>
    <%- include('./layout/body'); -%>
    <%- include('./layout/login'); -%>
    <%- include('template/js', {list: jsList}); %>
</body>
</html>