<div class="container">
    <div class="content fixedHead">
        <header>
            <a class='link' href='/index.html'>Drawing</a>
        </header>
        <nav>
            <ul>
                <li><a href="/about.html" class="link">About</a></li>
                <li><a href="/board/imgboard.html" class="link">Board</a></li>
                <li><a href="/board/listboard.html" class="link">Talk</a></li>
            </ul>
        </nav>  
    </div>
    
    <% if(loggined !== undefined){ %>
        <%- include('../template/LoginOk'); %>
    <% } else {  %>
         <%- include('../template/LoginNot'); %>
    <% } %>
    
    <section class='content'>
        
        <main> <%- include('../template/'+main); %></main>
        <aside><%- aside %></aside>
    </section>

    
    <%- include('footer'); %>
</div>