<!-- body -->
<div>
    <%-   user_id %>
</div>
<div>
    <span><%- title %></span>
    <span><%- user_id %></span>
    <span><%- hit %></span>
</div>
<div> <%- date %>
</div>
<div> <%- context %>
</div>
<div>댓글</div>

<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/mainLayout.css">
<link rel="stylesheet" href="/css/loginRes.css">
<link rel="stylesheet" href="/css/talkBoard.css">
<link rel="stylesheet" href="/css/board.css">


<script src="/js/login.js"></script>

<%- contentFor('title') %>
share Drawing-Board
<%- contentFor('aside') %>
aside