<div>
    <%-   showBoard.user_id %>
</div>
<div>
    <span><%- showBoard.title %></span>
    <span><%- showBoard.user_id %></span>
    <span><%- showBoard.hit %></span>
</div>
<div> <%- showBoard.date %>
</div>
<div> <%- showBoard.context %>
</div>
<div>댓글</div>